In [67]:
import pandas as pd
import numpy as np
import timeit

In [68]:
# Data process
def data_process(data_set, feature_size):
    total=[]
    dict_1={}
    for i in range(feature_size):
        a=str(i+1)
        dict_1[a]=0.0
    total.append(dict_1)
    for i in range(len(data_set)):
        data_sep=[]
        data_sep.append(data_set[i][0].split(' '))
        data_sep[0] = list(filter(None, data_sep[0]))
        new_dict={}
        new_dict['label']=float(data_sep[0][0])
        for j in range(len(data_sep[0])-1):
            a=[]
            a.append(data_sep[0][j+1].split(':'))
            new_dict[a[0][0]]=float(a[0][1])
        total.append(new_dict)
    df=pd.DataFrame(total).fillna(0.0)
    df=df.drop(index=(df.loc[(df['label']==0.0)].index))
    return df

In [69]:
# Train data
shuttle_tr ='shuttle.scale.tr'
shuttle_tr_file = open(shuttle_tr,'r')
lines = shuttle_tr_file.readlines()

shuttle_tr_data=[]
for line in lines:
    temp1=line.strip('\n')
    temp2=temp1.split('\t')
    shuttle_tr_data.append(temp2)


shuttle_tr_data_process = data_process(shuttle_tr_data, 9)
shuttle_tr_data_process

,1,2,3,4,5,6,7,8,9,label
1,-0.737374,-0.026273,0.234375,0.014030,-0.275641,0.025605,0.424837,0.332263,0.151125,1.0
2,-0.717172,-0.025667,-0.093750,0.014030,-0.275641,0.023752,0.124183,0.261637,0.151125,1.0
3,-0.575758,-0.025667,-0.109375,0.014802,-0.250000,0.025605,0.019608,0.235955,0.151125,1.0
4,-0.636364,-0.026677,-0.046875,0.014030,-0.256410,0.025605,0.111111,0.255217,0.144695,1.0
5,-0.616162,-0.024656,-0.109375,0.014030,-0.250000,0.025975,0.045752,0.235955,0.144695,1.0
...,...,...,...,...,...,...,...,...,...,...
30446,-0.797980,-0.024656,0.140625,0.014030,-0.371795,0.024716,0.372549,0.409310,0.241158,1.0
30447,-0.797980,-0.025667,-0.031250,0.014030,-0.378205,0.026939,0.228758,0.380417,0.247588,1.0
30448,-0.595960,-0.025667,0.046875,0.016090,-0.250000,0.025605,0.176471,0.268058,0.144695,1.0
30449,-0.797980,-0.025667,-0.093750,0.015317,-0.403846,0.025605,0.176471,0.396469,0.273312,1.0
30450,-0.797980,-0.025667,-0.093750,0.014030,-0.358974,0.024716,0.189542,0.345104,0.221865,1.0

In [70]:
# test data
shuttle_t ='shuttle.scale.t'
shuttle_t_file = open(shuttle_t,'r')
lines = shuttle_t_file.readlines()

shuttle_t_data=[]
for line in lines:
    temp1=line.strip('\n')
    temp2=temp1.split('\t')
    shuttle_t_data.append(temp2)


shuttle_t_data_process = data_process(shuttle_t_data, 9)
shuttle_t_data_process

,1,2,3,4,5,6,7,8,9,label
1,-0.434343,-0.025667,-0.062500,0.014030,-0.416667,0.026420,-0.045752,0.415730,0.350482,4.0
2,-0.414141,-0.025667,0.171875,0.014030,-0.230769,0.025309,0.150327,0.274478,0.157556,4.0
3,-0.535354,-0.025869,0.062500,0.012228,-0.237179,0.025605,0.137255,0.261637,0.151125,1.0
4,-0.474747,-0.023848,-0.093750,0.014030,-0.262821,0.025457,-0.045752,0.252006,0.183280,4.0
5,-0.434343,-0.025263,-0.046875,0.014030,-0.224359,0.025160,-0.032680,0.223114,0.151125,1.0
...,...,...,...,...,...,...,...,...,...,...
14496,0.070707,-0.025667,-0.015625,0.014030,-0.512821,0.023456,-0.320261,0.518459,0.517685,5.0
14497,-0.434343,-0.025667,-0.062500,0.014030,-0.461538,0.027458,-0.032680,0.460674,0.389068,4.0
14498,-0.434343,-0.025667,-0.125000,0.014030,-0.358974,0.023974,-0.084967,0.341894,0.279743,4.0
14499,-0.797980,-0.025667,0.281250,0.014030,-0.339744,0.024419,0.490196,0.406100,0.209003,1.0
14500,-0.414141,-0.025263,0.203125,0.014030,-0.230769,0.025679,0.176471,0.280899,0.157556,4.0

In [71]:
shuttle_t_data_process_nolabel = shuttle_t_data_process.drop('label',axis=1)

# Test for Search speed

### First test for ball-tree

In [72]:
# Now we ues the KNN balltree to test the time for Search
# We use the default parameters
import numpy as np
from sklearn.neighbors import BallTree
# 1.Euclidean  2.leaf_sizepositive:default=40
tree = BallTree(shuttle_t_data_process_nolabel, leaf_size=2)   
build_tree_time = stop-start
start=timeit.default_timer()
dist, ind = tree.query(shuttle_t_data_process_nolabel.iloc[[2]], k=4)  # use the point index = 2 as input
stop=timeit.default_timer()
print(ind)  # the index of the pointthemself and the 3 closest neighbors
print(dist)  # distances
run_time = stop - start
print(run_time) # Search time

[[    2  1542 14124 11858]]
[[0.         0.00648882 0.00667773 0.0067052 ]]
0.003176700003677979

In [39]:
tree = BallTree(shuttle_t_data_process_nolabel, leaf_size=2) 
every_time = []
for i in range(10000):
    start=timeit.default_timer()
    dist, ind = tree.query(shuttle_t_data_process_nolabel.iloc[[i]], k=4)
    stop=timeit.default_timer()
    time_cost = stop- start
    every_time.append(time_cost)

In [40]:
mean_search_time_balltree = np.mean(every_time)
mean_search_time_balltree

0.0004959312899973156

### Second test for kd-tree

In [73]:
# Now we ues the KNN kdtree to test the time for Search
# We use the default parameters
import numpy as np
from sklearn.neighbors import KDTree

# 1.Euclidean  2.leaf_sizepositive:default=40
tree = KDTree(shuttle_t_data_process_nolabel, leaf_size=2)   
start=timeit.default_timer()
dist, ind = tree.query(shuttle_t_data_process_nolabel.iloc[[2]], k=4)
stop=timeit.default_timer()
print(ind)  # indices of 3 closest neighbors
print(dist)  # distances to 3 closest neighbors
print(run_time) # the time for search

[[    2  1542 14124 11858]]
[[0.         0.00648882 0.00667773 0.0067052 ]]
0.003176700003677979

In [42]:
tree = KDTree(shuttle_t_data_process_nolabel, leaf_size=2) 
every_time = []
for i in range(10000):
    start=timeit.default_timer()
    dist, ind = tree.query(shuttle_t_data_process_nolabel.iloc[[i]], k=4)
    stop=timeit.default_timer()
    time_cost = stop- start
    every_time.append(time_cost)

In [43]:
mean_search_time_kdtree = np.mean(every_time)
mean_search_time_kdtree

0.00048742103000004133

# Test for classify

In [44]:
X = shuttle_tr_data_process.drop('label',axis=1)
X

,1,2,3,4,5,6,7,8,9
1,-0.737374,-0.026273,0.234375,0.014030,-0.275641,0.025605,0.424837,0.332263,0.151125
2,-0.717172,-0.025667,-0.093750,0.014030,-0.275641,0.023752,0.124183,0.261637,0.151125
3,-0.575758,-0.025667,-0.109375,0.014802,-0.250000,0.025605,0.019608,0.235955,0.151125
4,-0.636364,-0.026677,-0.046875,0.014030,-0.256410,0.025605,0.111111,0.255217,0.144695
5,-0.616162,-0.024656,-0.109375,0.014030,-0.250000,0.025975,0.045752,0.235955,0.144695
...,...,...,...,...,...,...,...,...,...
30446,-0.797980,-0.024656,0.140625,0.014030,-0.371795,0.024716,0.372549,0.409310,0.241158
30447,-0.797980,-0.025667,-0.031250,0.014030,-0.378205,0.026939,0.228758,0.380417,0.247588
30448,-0.595960,-0.025667,0.046875,0.016090,-0.250000,0.025605,0.176471,0.268058,0.144695
30449,-0.797980,-0.025667,-0.093750,0.015317,-0.403846,0.025605,0.176471,0.396469,0.273312
30450,-0.797980,-0.025667,-0.093750,0.014030,-0.358974,0.024716,0.189542,0.345104,0.221865

In [45]:
Y = shuttle_tr_data_process['label']
Y

1        1.0
2        1.0
3        1.0
4        1.0
5        1.0
        ...
30446    1.0
30447    1.0
30448    1.0
30449    1.0
30450    1.0
Name: label, Length: 30450, dtype: float64

In [46]:
test_X = shuttle_t_data_process.drop('label',axis=1)
test_X

,1,2,3,4,5,6,7,8,9
1,-0.434343,-0.025667,-0.062500,0.014030,-0.416667,0.026420,-0.045752,0.415730,0.350482
2,-0.414141,-0.025667,0.171875,0.014030,-0.230769,0.025309,0.150327,0.274478,0.157556
3,-0.535354,-0.025869,0.062500,0.012228,-0.237179,0.025605,0.137255,0.261637,0.151125
4,-0.474747,-0.023848,-0.093750,0.014030,-0.262821,0.025457,-0.045752,0.252006,0.183280
5,-0.434343,-0.025263,-0.046875,0.014030,-0.224359,0.025160,-0.032680,0.223114,0.151125
...,...,...,...,...,...,...,...,...,...
14496,0.070707,-0.025667,-0.015625,0.014030,-0.512821,0.023456,-0.320261,0.518459,0.517685
14497,-0.434343,-0.025667,-0.062500,0.014030,-0.461538,0.027458,-0.032680,0.460674,0.389068
14498,-0.434343,-0.025667,-0.125000,0.014030,-0.358974,0.023974,-0.084967,0.341894,0.279743
14499,-0.797980,-0.025667,0.281250,0.014030,-0.339744,0.024419,0.490196,0.406100,0.209003
14500,-0.414141,-0.025263,0.203125,0.014030,-0.230769,0.025679,0.176471,0.280899,0.157556

In [49]:
# Now we test the Classifiy on the KNN balltree
# Parameter:
#  n_neighbors = 3
#  algorithm:balltree
#  leaf_sizeint, default=30
#  pint, default=2 ,it means we used the euclidean_distance
from sklearn.neighbors import KNeighborsClassifier
start=timeit.default_timer()
neigh = KNeighborsClassifier(n_neighbors=3,algorithm ='ball_tree')
neigh.fit(X, Y)
predict_result = neigh.predict(test_X)
stop=timeit.default_timer()
run_classfy_time_balltree = stop - start
print("run_classfy_time_balltree")
print(run_classfy_time_balltree)

run_classfy_time_balltree
1.4790528000003178

In [50]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report
y_true = shuttle_t_data_process['label'].values
y_pred = predict_result
accuracy_score(y_true, y_pred)
# The accuracy

0.9988965517241379

In [51]:
print(classification_report(y_true,y_pred))

              precision    recall  f1-score   support

         1.0       1.00      1.00      1.00     11478
         2.0       1.00      0.69      0.82        13
         3.0       1.00      0.87      0.93        39
         4.0       1.00      1.00      1.00      2155
         5.0       1.00      1.00      1.00       809
         6.0       1.00      0.75      0.86         4
         7.0       0.25      0.50      0.33         2

    accuracy                           1.00     14500
   macro avg       0.89      0.83      0.85     14500
weighted avg       1.00      1.00      1.00     14500

In [52]:
# Now we test the Classifiy on the KNN kdTree
# Parameter:
#  n_neighbors = 3
#  algorithm:kd-tree
#  leaf_sizeint, default=30
#  pint, default=2 ,it means we used the euclidean_distance
from sklearn.neighbors import KNeighborsClassifier
start=timeit.default_timer()
neigh = KNeighborsClassifier(n_neighbors=3,algorithm ='kd_tree')
neigh.fit(X, Y)
predict_result = neigh.predict(test_X)
stop=timeit.default_timer()
run_classfy_time_kdtree = stop - start
print("run_classfy_time_kdtree")
print(run_classfy_time_kdtree)

run_classfy_time_kdtree
0.43478310000045894

In [53]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report
y_true = shuttle_t_data_process['label'].values
y_pred = predict_result
accuracy_score(y_true, y_pred)
# The accuracy

0.9988965517241379

In [54]:
print(classification_report(y_true,y_pred))

              precision    recall  f1-score   support

         1.0       1.00      1.00      1.00     11478
         2.0       1.00      0.69      0.82        13
         3.0       1.00      0.87      0.93        39
         4.0       1.00      1.00      1.00      2155
         5.0       1.00      1.00      1.00       809
         6.0       1.00      0.75      0.86         4
         7.0       0.25      0.50      0.33         2

    accuracy                           1.00     14500
   macro avg       0.89      0.83      0.85     14500
weighted avg       1.00      1.00      1.00     14500

In [61]:
accuracy = accuracy_score(y_true, y_pred)

In [64]:
result = pd.DataFrame(columns=['Classify time','Classify Accuracy','Search means time'])
result

Empty DataFrame
Columns: [Classify time, Classify Accuracy, Search means time]
Index: []

In [65]:
result.loc['balltree'] = [run_classfy_time_balltree,accuracy,mean_search_time_balltree]
result.loc['kdtree'] = [run_classfy_time_kdtree,accuracy,mean_search_time_kdtree]

kdTree and balltree in shuttle dataset

In [66]:
result

          Classify time  Classify Accuracy  Search means time
balltree       1.479053           0.998897           0.000496
kdtree         0.434783           0.998897           0.000487